<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fSFolder.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fSFolder.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/fSFolders}" class="btn btn-secondary">[[#{fSFolder.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('fSFolder')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <input type="submit" th:value="#{fSFolder.edit.headline}" class="btn btn-primary mt-4 mb-4" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='uri', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='label', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='description', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='type', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='crawlDepth', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='size', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='version', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='archived', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='owner', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='group', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fSFolder', field='permissions', type='textarea')}" />
                <input type="submit" th:value="#{fSFolder.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
