<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{annotation.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{annotation.list.headline}]]</h1>
                <div>
                    <a th:href="@{/annotations/add}" class="btn btn-primary ms-2">[[#{annotation.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${!annotations.empty || filter != null}" class="row">
                <div th:replace="~{fragments/utils::searchFilter(object='annotation')}" />
                <div th:replace="~{fragments/utils::sorting(object='annotation', sortOptions=${ {'id,ASC', 'label,ASC', 'description,ASC'} }, columnClass='offset-lg-4')}" />
            </div>
            <div th:if="${annotations.empty}">[[#{annotation.list.empty}]]</div>
            <div th:if="${!annotations.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{annotation.id.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="annotation : ${annotations}">
                            <td>[[${annotation.id}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/annotations/edit/{id}(id=${annotation.id})}" class="btn btn-sm btn-secondary">[[#{annotation.list.edit}]]</a>
                                    <form th:action="@{/annotations/delete/{id}(id=${annotation.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{annotation.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
