<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce Tika noise -->
    <logger name="org.apache.tika" level="WARN"/>
    <logger name="org.apache.pdfbox" level="WARN"/>
    <logger name="org.apache.fontbox" level="WARN"/>

    <!-- App logging -->
    <logger name="com.oconeco.remotecrawler" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
